/**
 * @Author: Waris Agung Widodo <user>
 * @Date:   2017-11-16T21:45:57+07:00
 * @Email:  ido.alit@gmail.com
 * @Filename: style.css
 * @Last modified by:   user
 * @Last modified time: 2017-12-17T11:12:24+07:00
 */

*[class*="tile"] {
  border-radius: 2px;
}

 .bg-transparent {
   background: transparent !important;
 }

 .tile-area-title .list {
   padding-top: 0px;
 }

 .tile-area-title .list:hover,
 .tile-area-title .list:active,
 .tile-area-title .list:focus,
 .tile-area-title .list.active {
   background-color: transparent;
   border-color: transparent;
 }

 .tile-area-title .listview .list {
   padding-left: 81px;
 }

 .tile-area-title .listview .list .list-icon {
   width: 64px;
   height: 64px;
 }

 .tile-area-title .list-title {
   font-size: 28px;
 }

 .tile-area-title .list-data {
   font-size: 16px;
 }

 .tile-area-controls {
     position: fixed;
     right: 40px;
     top: 40px;
 }

 .tile-group {
     left: 100px;
 }

 .tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super {
     opacity: 0;
     -webkit-transform: scale(.8);
     transform: scale(.8);
 }

 #charmSettings .button {
     margin: 5px;
 }

 #charmSearch {
   width: 300px;
 }

 .schemeButtons {
     /*width: 300px;*/
 }

 @media screen and (max-width: 640px) {
     .tile-area {
         overflow-y: scroll;
     }
     .tile-area-controls {
         display: none;
     }

     .header {
       display: none;
     }

     #schils .tile-group {
       width: 100%;
     }
 }

 @media screen and (max-width: 320px) {
     .tile-area {
         overflow-y: scroll;
     }

     .tile-area-controls {
         display: none;
     }

     .header {
       display: none;
     }

     #schils .tile-group {
       width: 100%;
     }

 }

 .header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 120px;
   z-index: 99;
 }

 .header .tile-area .tile-area-title {
   position: absolute;
 }

.header .tile-area-controls {
  position: absolute;
}

#advSearchForm .input-control {
  margin-bottom: 10px;
}
