/**
 * @Author: Waris Agung Widodo <user>
 * @Date:   2017-11-18T15:41:37+07:00
 * @Email:  ido.alit@gmail.com
 * @Filename: style_portal.css
 * @Last modified by:   user
 * @Last modified time: 2017-12-17T11:12:37+07:00
 */

 p {
   line-height: 1.3
 }

*[class*="tile"] {
  overflow: hidden;
}

.tile-area-title.brand {
  width: 60%;
  overflow: visible;
}

.tile-area-title .list {
  padding-top: 0px;
}

.tile-area-title .list:hover,
.tile-area-title .list:active,
.tile-area-title .list:focus,
.tile-area-title .list.active {
  background-color: transparent;
  border-color: transparent;
}

.tile-area-title .listview .list {
  padding-left: 81px;
}

.tile-area-title .listview .list .list-icon {
  width: 64px;
  height: 64px;
  margin-top: -6px;
}

.tile-area-title .list-title {
  font-size: 28px;
}

.tile-area-title .list-data {
  font-size: 16px;
}

.margin-top-2 {
  margin-top: 28px;
}

.item {
  display: flex;
  margin-top: 28px;
}
.item .cover-list {
  margin-right: 10px;
  min-width: 90px;
  background: #ccc;
  position: relative;
}
.item .cover-list::before {
  content: "SchILS";
  display: block;
  position: absolute;
  top: 50px;
  left: 20px;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-weight: bold;
  opacity: .5;
}
.item .detail-list {}
.item .detail-list h4 {
  margin-top: 0px;
  font-size: 16px;
}
.item .detail-list .author {
  font-size: 12px;
  margin-bottom: 4px;
}
.item .detail-list .customField {
  font-size: 12px;
  margin-bottom: 4px;
}
.item .detail-list .subItem {
  font-size: 12px;
  margin-bottom: 4px;
}
.item .detail-list .share-buttons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.item .detail-list .share-buttons li {
  margin-right: 4px;
}

.item .detail-list .share-buttons li img {
  border-radius: 2px;
}

.biblioPaging {
  margin-top: 16px;
  margin-bottom: 16px;
}

html, body {
  height: 100%;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.container-main {
  min-height: 100%;
  margin-bottom: -60px;
}

.footer {
  height: 60px;
}

.detail .cell {
  margin-bottom: 10px;
  font-size: 10pt;
}

.detail .notes {
  font-style: italic;
  font-size: 12px;
  line-height: 1.3;
}

.detail .cover {
  text-align: center;
}

.detail h5, h4 {
  font-weight: bold;
}

.detail .size4 {
  font-weight: bold;
  padding-right: 8px;
}

.detail .size8 {
  padding-right: 8px;
}

.itemList td,
.memberDetail td,
.memberLoanList td,
.memberBasketList td {
  border: 1px solid #ccc;
  padding: 16px 8px;
}

.memberDetail,
.memberLoanList,
.memberBasketList {
  margin: 0;
  width: 100%;
}

.mVisitor {
  text-align: center;
}

.mVisitor #visitorCounterPhoto {
  border-radius: 50%;
}

.mVisitor .controls {
  width: 90%;
}

.memberInfoHead {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 8px;
  margin-top: 16px;
}

.tile.tile-librarian{
  width: 200px;
  height: 200px;
}

.errorBox {
  padding: 16px;
  background: #ce352c !important;
  margin-bottom: 16px;
  color: #ffffff;
}

.loginInfo {
  margin-bottom: 16px;
  line-height: 1.2;
}

.tagline {
  font-weight: bold;
  margin-bottom: 8px;
}

.login_input input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border: 1px #d9d9d9 solid;
  width: 50%;
  height: 100%;
  padding: .3125rem;
  z-index: 0;
  margin-bottom: 8px;
}

.login_input input:focus {
  outline: none;
}

.loginInfo .fieldLabel {
  margin-bottom: 8px;
}

.mVisitor .container.flex-grid {
  width: 100%;
}

@media screen and (max-width: 640px) {

  .tile-area-title.brand {
    width: 100%;
    margin-top: 60px;
  }

}

@media screen and (max-width: 320px) {

  .tile-area-title.brand {
    width: 100%;
    margin-top: 60px;
  }

  .login_input input {
    width: 100%;
  }

}
